include README.md
include MANIFEST.in
include COPYING
include COPYING.LESSER
include bioLEC/__init__.py
include bioLEC/LEC.py
include bioLEC/documentation.py
include bioLEC/Notebooks/*.ipynb
include bioLEC/Notebooks/images/*
include bioLEC/Notebooks/dataset/*
